body{
    margin: 0px;
}

/* body-header */

#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/853/1023/682/apple-macbook-airbook-computer-mouse-wallpaper-preview.jpg);
    background-size:cover;
    background-position:center;
   background-attachment: fixed;
   padding-top: 1.2rem;
}
/* horizontal lists  */

.horizontal-list{
    list-style: none;/*here list style means (.boolet style) are gone*/
    padding-left:0px;
    /* text-align: center;  ... this property is rule which i might be applying frequently that's why i am creating class for text-align which is given below */
    margin: 0px;
}
.horizontal-list li{
    display: inline-block;/*here it is nested , all the horizontal-list in the li are in the horizontal position */
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;

    
}
.horizontal-list li a{
    color: white;
    /* font-size: 40px; */
    text-decoration: none;/* it means anchor tag has underline which is removed*/
    transition: color 0.5s/* to add property transition and for which property u want totransation is :color.to be delayed/slow  0.5s  */
    
}
.horizontal-list li a:hover{
    color: lightgray;/* the color of the hover is lightgray*/
    border-bottom: 1px solid white;/*sets the line style of an element's bottom border . hrer it is 1px of solid bar of white color when the mouse crosser is pointing ... it shows*/
}
.text-center{
    text-align: center;
}

#name-social-container{
    margin-top: 20vh;
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.social-icon li a i{
    
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}
.social-icon li a i:hover{
   box-shadow:0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}
