/* type selector */
p{
    color: blue ;
    font-size: 30px;
    
}
h4{
    font-size:30px;
}
/* we can group a css rules or group selectors together */
h3,p{
    font-family:sans-serif;
}
li h4{
    font-size:40px;
}
/* h4{
    text-transform:lowercase;
    
} */
Main{
    width: 70%;
}
#asidee{
    /* border-top:4px solid black; */
        display: inline-block;
        width: 20%;
    
}


/* class selector */

.lowercase{
    text-transform:lowercase;
}
.uppercase{
    text-transform:uppercase;
    
}
.cursive{
    font-family: cursive;
}
/* id sector */

#good-color{
    color:firebrick;
    background-color: antiquewhite;
}

/* zulu classes (hover means placing mouse over the element and the color of the element is changes) */

#hovering:hover{
    color:rgb(54, 194, 54);
}
/*aside*/
input{
    background-color:#f7f7f7;
    margin-bottom: 15px;
   margin-top: 15px;
    color: yellowgreen;
    font-size: 2.4rem;
    }

