/* px stands foe pixl , the smallest basic unit for measurment for css  */
/* hexadecimal number */
/*gb or rgba value */
/* i px = 1/96 inch */
/* SHL value (hue , saturation and lightness) H - means degree. so 0 is for red and 120 is for green and 240 is for blue */
#dv{
    height:90vh;
    width:90vw;
    background-color: rgb(203, 118, 203);
    /*background-color: hsl(hue, saturation, lightness);*/
    border: 34px solid rosybrown;
}
#ddv{
    /* height: 50%; */
    height: 20vh;
    width: 90vw;
    background-color: purple;
    font-size: 30px;
    
    
}/*vh= viewport height
vw= viewport width 
*/
.uppercase{
    text-transform: uppercase;
    
}
/* rim=fontsize of the root elemeent=html element */